# The first URL to run tests against.
# E.g. https://USERNAME:PASSWORD@qa.test.com
ROOT_URL="XXX"
# Whether to run in an unattended environment without any visible UI.
HEADLESS=false
# The Slack bot token to use for sending messages.
SLACK_BOT_TOKEN="XXX"
# The Slack channel ID to send messages to.
SLACK_CHANNEL_ID="XXX"
# The system running the tests.
# E.g. local, git, or jenkins.
RUN_BY="XXX"
# A label to identify the run.
# E.g. your name, the branch name, or the build number.
RUN_LABEL="XXX"
